.rst-content table.docutils th {
  font-weight: normal;
  text-align: left;
}

.rst-content table.docutils code {
  border: none;
}

.rst-content table.docutils td {
  vertical-align: top;
}

.rst-content table.typed td:first-of-type {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
  font-size: 12px;
  line-height: 1.4;
}
